SPRING_PROFILES_ACTIVE=dev
DB_URL=jdbc:mysql://localhost:3306/db_portal_solicitacoes?createDatabaseIfNotExist=true
DB_USERNAME=database_username
DB_PASSWORD=database_password
# Senha utilizada apenas em ambiente teste
API_SECURITY_TOKEN_SECRET=m5CDrAYgQ5dPk1vDv2WkJMx9p5GMFGZL (senha exemplo no formato 32bytes);
